/* ----------------- */
/* ESTILOS GENERALES */
/* ----------------- */

* {
    font-family: sans-serif;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


button {
    cursor: pointer;
}

body {
    background: #dcdcdc;
}

label {
    font-size: 0.75rem;
}

input {
    background-color: #dcdcdc;
    border: 0.0625rem solid #dcdcdc;
    color: rgba(16, 16, 30, 0.7); 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    height: 1rem;
}

input::placeholder {
    text-align: center;
    line-height: 0.75rem;
    font-size: 0.7rem;
    color: rgba(16, 16, 30, 0.7); 
    vertical-align: middle;
}

i{
    color: #ffb81c;
    text-shadow: #11111f 0.125rem 0.0625rem 0.1875rem;
}

a{
    text-decoration: none;
}

.error{
    color: red;
    font-size: 0.6rem;
    text-align: right;
    padding-right: 0.5rem;
    justify-self: end;
    align-self: self-end;
}

/* ----------------- */
/*       MAIN        */
/* ----------------- */

/* Secciones Principales */

.seccion{
    width: 95vw;
    margin: auto;
    margin-top: 1rem;
    background-color: #fff;
    border: 0.0625px solid #dcdcdc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: #11111f 0px 0.1875rem 0.3125rem;
    border-radius: 8px;
    padding: 1rem;
}

/* Boton de Accion */

.boton-accion{
    display: block;
    margin: auto;
    margin-top: 1.2rem;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    width: 95%;
    height: 3rem;
    background-color: #11111f;
    color: #ffb81c;
    font-weight: bold;
    box-shadow: #11111f 0.1875rem 0.125rem 0.3125rem;
}


/* Promocion de Productos */

.ofertas a,
.recomendaciones a{
    text-decoration: none;
    color: #11111f;
}

/* imagenes cuadraditas con marco gris */

.imgProducto {
    border: #dcdcdc 0.0625rem solid;
    width: 4.6875rem;
    height: 4.6875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3125rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.imgProducto img {
    width: 4.375rem;
    max-height: 4.375rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}


.productos {
    margin:0.625rem;
}

.recomendaciones{
    margin-bottom: 2rem;
}

.titulo{
    margin: 1.5625rem;
    text-align: left;
    margin-bottom: 0.625rem;
}

.tarjetas{
    display: flex;
}

.tarjeta{
    position: relative;
    background-color: #fff;
    border: 0.0625rem solid #dcdcdc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    box-shadow: #11111f 0px 0.1875rem 0.3125rem;
    margin: 0.625rem 0.3125rem;
    width: 35%;
    padding: 0.1875rem 0.625rem;

    font-size: small;
    text-align: center;
}

.tarjeta *{
    margin: 0.1875rem 0px;
}
.tarjeta h4{
    font-size: 0.75rem;
    font-weight: 800;
}

.tarjeta .imgProducto{
    margin: auto;
}

.tarjeta .detalles{
    font-size: 1rem;
    text-align: left;
}

.tarjeta i{
    position: absolute;
    left: 0.625rem;
    bottom: 0.625rem;
    font-size: 1.25rem;
    visibility: hidden;
}

.oferta i{
    visibility: visible;
}

.tarjeta .precios{
    margin-top: 0.3125rem;
    text-align: right;
}

.precioAnterior{
    font-size: 0.6rem;
    text-decoration: red line-through;
    visibility: hidden;
}

.oferta .precioAnterior{
    visibility: visible;
}

.precioActual{
    font-size: 0.8rem;
    font-weight: 600;
}

.next{
    display: flex;
    margin: auto;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    background-color: #11111f;
    color: #ffb81c;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: #11111f 0.1875rem 0.125rem 0.3125rem;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
}


/* ----------------- */
/*   MEDIA QUERIES   */
/* ----------------- */

@media (min-width:445px){

    html{
        font-size: 20px;
    }

}

@media (min-width:580px){

    html{
        font-size: 26px;
    }

}

@media (min-width:710px){

    html{
        font-size: 32px;
    }

}

@media (min-width:1200px){

    html{
        font-size: 42px;
    }

}